---
title: Welcome to Middleman
---

<div class="jumbotron">
	<div class="container">
	  <h1>Welcome to Noiseproduct!</h1>
	  <p>A revolutionary, noisy product that everyone wants to buy!</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	 </div>
</div>